<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You Can Go Through All Secrets</h1>
    <div class="flex-container">
      <%secretDocs.forEach(function(doc){%>
      <div class="item">
        <%=doc.secret%>
      </div>
      <%});%>
    </div>

    <hr>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<style media="screen">
  .footer{
    position:static;
  }
</style>
<%- include('partials/footer') %>
